{% schema %}
{
  "name": "RINOS Titanium Comparison",
  "settings": [],
  "presets": [
    {
      "name": "Titanium Bike Comparison",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<section class="table-wrapper">
  <table class="comparison-table">
    <thead>
      <tr>
        <th></th>
        <th>
          <img src="https://i.goopics.net/52yeje.png" alt="Atlas 1">
          <div class="bike-title">{{ 'rinostitanium.atlas_1' | t }}</div>
        </th>
        <th class="highlight-column">
          <img src="https://i.goopics.net/52yeje.png" alt="Atlas 3">
          <div class="bike-title" style="color:#F04A00;">{{ 'rinostitanium.atlas_3' | t }}</div>
        </th>
        <th>
          <img src="https://i.goopics.net/52yeje.png" alt="Atlas 5">
          <div class="bike-title">{{ 'rinostitanium.atlas_5' | t }}</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ 'rinostitanium.frame_material' | t }}</td>
        <td>{{ 'rinostitanium.titanium' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.titanium' | t }}</td>
        <td>{{ 'rinostitanium.titanium' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.fork' | t }}</td>
        <td>{{ 'rinostitanium.toray_t800_carbon' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.toray_t800_carbon' | t }}</td>
        <td>{{ 'rinostitanium.toray_t800_carbon' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.groupset' | t }}</td>
        <td>{{ 'rinostitanium.shimano_grx_400_20' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.shimano_grx_600_22' | t }}</td>
        <td>{{ 'rinostitanium.shimano_grx_820_24' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.brakes' | t }}</td>
        <td>{{ 'rinostitanium.shimano_grx_400_hydraulic' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.shimano_grx_600_hydraulic' | t }}</td>
        <td>{{ 'rinostitanium.shimano_grx_820_hydraulic' | t }}</td>
      </tr>
    <tr>
  <td>{{ 'rinostitanium.cassette'        | t }}</td>
  <td>{{ 'rinostitanium.hg500_11_34t'   | t }}</td>
  <td class="highlight-column">
    {{ 'rinostitanium.r8100_11_34t'     | t }}
  </td>
  <td>{{ 'rinostitanium.11_speed_11_34t' | t }}</td>
</tr>

      <tr>
        <td>{{ 'rinostitanium.crankset' | t }}</td>
        <td>{{ 'rinostitanium.grx_fc_rx600_46_30t' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.grx_fc_rx600_46_30t' | t }}</td>
        <td>{{ 'rinostitanium.grx_fc_rx820_48_31t' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.wheelset' | t }}</td>
        <td>{{ 'rinostitanium.rinos_28h_38mm_depth' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.rinos_28h_38mm_depth' | t }}</td>
        <td>{{ 'rinostitanium.rinos_28h_38mm_depth' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.tire' | t }}</td>
        <td>{{ 'rinostitanium.700x40c' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.700x40c' | t }}</td>
        <td>{{ 'rinostitanium.700x40c' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.seatpost' | t }}</td>
        <td>{{ 'rinostitanium.rinos_carbon_31_6x400' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.rinos_carbon_31_6x400' | t }}</td>
        <td>{{ 'rinostitanium.rinos_carbon_31_6x400' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.handlebar' | t }}</td>
        <td>{{ 'rinostitanium.rinos_carbon_420_440' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.rinos_carbon_420_440' | t }}</td>
        <td>{{ 'rinostitanium.rinos_carbon_420_440' | t }}</td>
      </tr>
      <tr>
        <td>{{ 'rinostitanium.weight' | t }}</td>
        <td>{{ 'rinostitanium.approx_103kg' | t }}</td>
        <td class="highlight-column">{{ 'rinostitanium.approx_103kg' | t }}</td>
        <td>{{ 'rinostitanium.approx_103kg' | t }}</td>
      </tr>
    </tbody>
  </table>
</section>

<style>
  .comparison-table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'IBM Plex Sans', sans-serif;
  }
  .comparison-table th, .comparison-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #4b4b4b;
  }
  .highlight-column {
    border-right: 2px solid #F04A00;
    border-left: 2px solid #F04A00;
  }
  .comparison-table img {
    max-width: 175px;
  }
  .table-wrapper {
    max-width: 1200px;
    margin: auto;
    overflow-x: auto;
  }
  .bike-title {
    font-weight: bold;
    font-size: 1.2em;
  }
</style>